@model BookShop.Models.warehouse

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="box box-primary">
    <form method="post" action="/Admin/Warehouse/Create" enctype="multipart/form-data">
        <div class="box-header with-border">
            <h2 class="box-title">Thêm mới sản phẩm</h2>
            <div class="box-tools pull-right">
                <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-check"></i> Lưu</button>
                <button class="btn btn-default btn-sm" type="reset"><i class="fa fa-refresh"></i> Reset</button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="tab-pane active" id="tab_1">
                @using (Html.BeginForm("Create", "Warehouse", FormMethod.Post, new { @enctype = "mutipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4>warehouse</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.book_id, "book_id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("book_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.book_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.tab-pane -->
        </div><!-- /.box-body -->
    </form>
</div><!-- /.box -->